h1{
  color: blank;
  font-family: Calibri, Times, Serif;
  text-align: center;
}
body{
  background-color: 'MidnightBlue';
}
p{
  background-image: url('http://2.bp.blogspot.com/-Aiv8CL6r4cg/UTFwQA8UESI/AAAAAAAAGBk/4WC5AkupgKc/s320/tema_32.gif');
  background-position: center;
}
